[submodule ".config/base16-shell"]
	path = .config/base16-shell
	url = git@github.com:chriskempson/base16-shell.git
[submodule "zsh/themes/powerline"]
	path = zsh/themes/powerline
	url = git@github.com:jeremyFreeAgent/oh-my-zsh-powerline-theme.git
